:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
  --width: 1000px;
  --color: #f5f5f5;
  --bg: #202124;
  --separator: 1px solid #48494b;
  --color-secondary: #8b949e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #f5f5f5;
    --bg: #202124;
    --separator: 1px solid #48494b;
    --color-secondary: #8b949e;
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #202124;
    --bg: #f5f5f5;
    --separator: 1px solid #ccc;
    --color-secondary: #51565c;
    color-scheme: light;
  }
}

html {
  font-family: Menlo, Monaco, "Lucida Console", "DejaVu Sans Mono",
    "Courier New", monospace;

  font-size: 14px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.25rem;
}

/* @media (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }
} */

code {
  font-size: 1rem;
}

.astro-code {
  border-radius: 1rem;
  padding: 2rem;
}

blockquote {
  margin: 2em 0;
}

main {
  margin: 1rem auto;
  padding: 0 1rem;
  width: 100%;
  max-width: var(--width);
  line-height: 1.5;
  word-break: break-word;
  flex: 1;
}

@media (min-width: 768px) {
  main {
    margin: 2rem auto;
    padding: 0 2rem;
  }
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.25;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.tweet-card {
  word-break: break-word;
}

a {
  color: var(--color);
}

img {
  max-width: 100%;
}

iframe {
  border-radius: 1rem;
}

article {
  font-size: 1.25rem;
  line-height: 1.75;
}

article h2::before,
article h3::before {
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 5rem;
  margin-top: -5rem;
}

@media (min-width: 768px) {
  article h2::before,
  article h3::before {
    height: 7rem;
    margin-top: -7rem;
  }
}
