---
export const prerender = true;

import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import Post from "../components/Post.astro";
const allHiking = await getCollection("hiking").then((collection) =>
  collection.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
);

const title = "Hiking";
---

<Layout title={title}>
  <h1>{title}</h1>
  <h4>Currenly Hiking</h4>
  <div class='current-hikes'>
    <a href='/tags/heysentrail' class='hike-card'>
      <h2>Heysen trail</h2>
      <p>6/65 complete</p>
    </a>
    <a href='/tags/adelaide100' class='hike-card'>
      <h2>Adelaide 100</h2>
      <p>1/4 complete</p>
    </a>
  </div>
  <h4>Recent Hikes</h4>
  <ul class='hiking'>
    {allHiking.map((post) => <Post post={post} />)}
  </ul>
</Layout>
<style>
  .hiking {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .current-hikes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (min-width: 768px) {
    .current-hikes {
      flex-direction: row;
    }
  }

  .hike-card {
    flex: 1;
    text-decoration: none;
  }
</style>
