---
export const prerender = true;

import Post from "../components/Post.astro";
import Layout from "../layouts/Layout.astro";

const allProjects = await Astro.glob("../pages/projects/*.mdx");
allProjects.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);
const title = "Projects";
---

<Layout title={title}>
  <h1>{title}</h1>
  <ul class="projects">
    {allProjects.map((project) => <Post post={project} />)}
  </ul>
</Layout>
<style>
  .projects {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
