---
export const prerender = true;

import Gear from "../components/Gear.astro";
import Layout from "../layouts/Layout.astro";
const gearList = [
  {
    name: "6th Generation Thinkpad Carbon X1",
    pros: ["Great display and specs", "Good battery lifed", "Lightweight"],
    cons: ["Some features don't work in Ubuntu"],
    isOpen: true,
  },
  {
    name: "OS / Window Manager",
    description: "Ubuntu / GNOME with minimal tweaks",
    isOpen: true,
  },
  {
    name: "Terminal",
    description: "Terminator with zsh / ohmyzsh",
    isOpen: true,
  },
  {
    name: "Editor",
    description: "VS Code",
    isOpen: true,
  },
  {
    name: "Triban RC120 disc Road bike",
    boughtOn: "2022-05-15",
    pros: ["Great value for money", "Well-thought-out kit"],
    cons: ["Not light since only the fork is carbon"],
  },
  {
    name: "Garmin fenix 6 pro watch",
    boughtOn: "2023-01-08",
    pros: [
      "Great battery life (approx 10 days for my usage)",
      "Premium build quality",
      "Accurate GPS and other sensors like heart rate and sleep monitoring",
    ],
    cons: ["Developer API is not that great"],
  },
];
const title = "Uses";
---

<Layout title={title}>
  <h1>{title}</h1>
  {gearList.map((gear) => <Gear {...gear} />)}
</Layout>
