---
import Layout from "../layouts/Layout.astro";

const allWriting = await Astro.glob("../pages/writing/*.mdx");
allWriting.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);
const name = "Thilina Gunasekara";
---

<Layout title={`Writing | ${name}`}>
  <h1>Writing</h1>
  <ul class="writing">
    {
      allWriting.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
<style>
  .writing {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
