---
export const prerender = true;

import Post from "../components/Post.astro";
import Layout from "../layouts/Layout.astro";

const allWriting = await Astro.glob("../pages/writing/*.mdx");
allWriting.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);
const title = "Writing";
---

<Layout title={title}>
  <h1>{title}</h1>
  <ul class="writing">
    {allWriting.map((post) => <Post post={post} />)}
  </ul>
</Layout>
<style>
  .writing {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
