<button id="theme" type="button" aria-label="Switch colour scheme">
  <span><i></i></span>
</button>
<script is:inline>
  const toggleButton = document.getElementById("theme");
  const getTheme = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }

    return "light";
  };
  const theme = getTheme();

  if (theme === "light") {
    document.documentElement.classList.remove("theme-dark");
    document.documentElement.classList.add("theme-light");
    toggleButton.setAttribute("aria-label", "Switch to Dark Theme");
    toggleButton.setAttribute("title", "Switch to Dark Theme");
  } else {
    document.documentElement.classList.add("theme-dark");
    document.documentElement.classList.remove("theme-light");
    toggleButton.setAttribute("aria-label", "Switch to Light Theme");
    toggleButton.setAttribute("title", "Switch to Light Theme");
  }

  toggleButton.addEventListener("click", (e) => {
    const theme = getTheme();
    if (theme === "light") {
      localStorage.setItem("theme", "dark");
      document.documentElement.classList.remove("theme-light");
      document.documentElement.classList.add("theme-dark");
      toggleButton.setAttribute("aria-label", "Switch to Light Theme");
      toggleButton.setAttribute("title", "Switch to Light Theme");
    } else {
      localStorage.setItem("theme", "light");
      document.documentElement.classList.remove("theme-dark");
      document.documentElement.classList.add("theme-light");
      toggleButton.setAttribute("aria-label", "Switch to Dark Theme");
      toggleButton.setAttribute("title", "Switch to Dark Theme");
    }
  });
</script>
<style is:global>
  :root {
    --icon-transition: 0.6s cubic-bezier(0.63, -0.32, 0.32, 1.6);
  }

  .theme-dark {
    --color: #f5f5f5;
    --bg: #202124;
  }

  @media (prefers-color-scheme: light) {
    :root.theme-dark {
      --color: #f5f5f5;
      --bg: #202124;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root.theme-light {
      --color: #202124;
      --bg: #f5f5f5;
    }
  }
</style>
<style>
  #theme {
    --size: 32px;
    border: 0;
    padding: 0;
    background: none;
    width: 26px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }

  @media (min-width: 768px) {
    #theme {
      /* width: 43px;
      height: 43px; */
    }
  }

  @media (min-width: calc(1000px + 5rem)) {
    #theme {
      position: fixed;
      top: 2rem;
      right: 2rem;
      z-index: 1;
    }
  }

  #theme:focus span {
    background: rgba(255, 255, 255, 0.1);
  }

  #theme:active span::before {
    transition: 0s;
    transform: rotate(135deg);
  }

  #theme:active span::after {
    transition: 0s;
    transform: rotate(180deg);
  }
  span {
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  span::before,
  span::after {
    content: "";
    width: calc(var(--size) / 2);
    aspect-ratio: 1/1;
    display: block;
    background: var(--color);
    position: absolute;
    transition: transform var(--icon-transition);
  }

  span::after {
    transform: rotate(45deg);
  }

  span i {
    border-radius: 50%;
    background: var(--bg);
    width: calc(var(--size) / 2 - 4px);
    height: calc(var(--size) / 2 - 4px);
    position: relative;
    z-index: 1;
  }

  :global(.theme-dark) span i {
    width: calc(var(--size) / 2 - 4px);
    height: calc(var(--size) / 2 - 4px);
  }

  span i::after {
    content: "";
    background: var(--color);
    width: calc(var(--size) / 4);
    height: calc(var(--size) / 4);
    border-radius: 50%;
    position: absolute;
    inset: 2px;
    left: -2px;
    transition: left 0.1s ease-in-out;
  }

  :global(.theme-dark) span i::after {
    left: 0;
    inset: 2px;
  }

  :global(.theme-dark) #theme:active span::before {
    transition: 0s;
    transform: rotate(-135deg);
  }

  :global(.theme-dark) #theme:active span::after {
    transition: 0s;
    transform: rotate(-180deg);
  }
</style>
