---
import Post from "./Post.astro";
import { getCollection } from "astro:content";
const featuredProjects = await getCollection("projects").then((collection) =>
  collection.filter((project) => project.data.featured)
);
---

<section>
  <ul class="featured">
    {featuredProjects.map((project) => <Post post={project} />)}
  </ul>
</section>
<style>
  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  section {
    margin: 5rem 0 0;
  }

  .featured {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
