---
import Social from "./Social.astro";
---

<footer>
  <hr />
  <Social />
  <div>Thilina Gunasekara &copy; {new Date().getFullYear()} ෴</div>
</footer>
<style>
  footer {
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 100%;
    max-width: var(--width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
    color: var(--color-secondary);
  }

  hr {
    border-top: var(--separator);
    display: block;
    width: 100%;
    border-width: 1px 0 0;
  }

  @media (min-width: 768px) {
    footer {
      padding: 2rem;
    }
  }
</style>
