---
import { Icon } from "astro-icon";
import ColorScheme from "../components/ColorScheme.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <div class='backLinkContainer'>
    <slot />
  </div>
  <details>
    <summary>
      <Icon class='menuOpen' name='mdi:menu-open' size='18' />
      <Icon class='menuClose' name='mdi:close' size='18' />
      <span class='menuToggle'>Menu</span>
    </summary>
    <ul>
      <li><a class={currentPath === "" ? "active" : ""} href='/'>Home</a></li>
      <li>
        <a class={currentPath === "projects/" ? "active" : ""} href='/projects/'
          >Projects</a
        >
      </li>
      <li>
        <a class={currentPath === "writing/" ? "active" : ""} href='/writing/'
          >Writing</a
        >
      </li>
      <li>
        <a class={currentPath === "hiking/" ? "active" : ""} href='/hiking/'
          >Hiking</a
        >
      </li>
      <li>
        <a
          class='contact'
          href='mailto:hi@thilinag.com'
          title='Send an email to contact me'
        >
          <Icon name='mdi:email' />
        </a>
      </li>
    </ul>
  </details>
  <div class='colorSchemeSwitcher'>
    <ColorScheme />
  </div>
</nav>
<style>
  nav {
    margin-left: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
  }

  @media (min-width: 768px) {
    nav {
      padding: 2rem;
    }
  }

  @media (min-width: calc(1000px + 5rem)) {
    nav {
      display: grid;
      grid-template-columns: 1fr var(--width) 1fr;
      grid-template-areas: "_ nav right-gutter";
    }
  }

  @media (min-width: 540px) {
    details {
      position: relative;
    }
  }

  @media (min-width: calc(1000px + 5rem)) {
    details {
      grid-area: nav;
      justify-self: end;
      margin-right: 2rem;
    }
  }

  summary {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    height: 100%;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .menuToggle {
    padding: 0.5rem 0;
  }

  details[open] summary {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    padding: 0 1rem;
  }

  @media (min-width: 540px) {
    details[open] summary {
      display: none;
    }
  }

  .menuClose,
  details[open] .menuOpen {
    display: none;
  }

  details[open] .menuClose,
  .menuOpen {
    display: block;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: var(--bg);
    align-items: flex-end;
    z-index: 3;
  }

  @media (min-width: 540px) {
    ul {
      flex-direction: row;
      left: auto;
      align-items: center;
    }
  }

  @media (max-width: 540px) {
    ul {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      gap: 0.5rem;
      padding: 1rem;
      background-color: #333;
    }
  }

  li {
    display: flex;
    flex: 1;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .active {
    background: var(--color);
    border-radius: 2rem;
    color: var(--bg);
  }

  .contact {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  .contact svg {
    height: 20px;
    width: 20px;
  }

  .colorSchemeSwitcher {
    display: flex;
    align-items: center;
  }

  @media (min-width: calc(1000px + 5rem)) {
    .colorSchemeSwitcher {
      grid-area: right-gutter;
      justify-self: end;
    }
  }

  .backLinkContainer {
    margin-right: auto;
  }

  @media (min-width: calc(1000px + 5rem)) {
    .backLinkContainer {
      grid-area: nav;
      margin-left: 2rem;
    }
  }
</style>
