---
import ColorScheme from "../components/ColorScheme.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <details>
    <summary
      ><svg
        viewBox="0 0 16 15"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
        ><rect y="2" width="16" height="1"></rect><rect
          y="7"
          width="16"
          height="1"></rect><rect y="12" width="8" height="1"></rect>
      </svg>
      <span class="menu-toggle">Menu</span>
    </summary>
    <ul>
      <li><a class={currentPath === "" ? "active" : ""} href="/">Home</a></li>
      <li>
        <a class={currentPath === "projects/" ? "active" : ""} href="/projects/"
          >Projects</a
        >
      </li>
      <li>
        <a class={currentPath === "writing/" ? "active" : ""} href="/writing/"
          >Writing</a
        >
      </li>
      <li>
        <a class={currentPath === "hiking/" ? "active" : ""} href="/hiking/"
          >Hiking</a
        >
      </li>
    </ul>
  </details>
  <ColorScheme />
</nav>
<style>
  nav {
    margin-left: auto;
    display: flex;
  }

  @media (min-width: 540px) {
    details {
      position: relative;
    }
  }

  details > summary {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.6em 0 0.4rem;
    font-size: 1rem;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary svg,
  .menu-toggle {
    height: 15px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    padding: 1rem;
    background: var(--bg);
  }

  @media (min-width: 540px) {
    ul {
      flex-direction: row;
      left: auto;
      top: 0;
      padding: 0;
    }
  }

  a {
    font-size: 1rem;
  }

  .active {
    background: var(--color);
    border-radius: 2rem;
    color: var(--bg);
  }
</style>
