---
import { Icon } from "astro-icon";
import ColorScheme from "../components/ColorScheme.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <details>
    <summary>
      <Icon name='mdi:menu-open' size='18' />
      <span class='menuToggle'>Menu</span>
    </summary>
    <ul>
      <li><a class={currentPath === "" ? "active" : ""} href='/'>Home</a></li>
      <li>
        <a class={currentPath === "projects/" ? "active" : ""} href='/projects/'
          >Projects</a
        >
      </li>
      <li>
        <a class={currentPath === "writing/" ? "active" : ""} href='/writing/'
          >Writing</a
        >
      </li>
      <li>
        <a class={currentPath === "hiking/" ? "active" : ""} href='/hiking/'
          >Hiking</a
        >
      </li>
      <li>
        <a
          class='contact'
          href='mailto:hi@thilinag.com'
          title='Send an email to contact me'
        >
          <Icon name='mdi:email' />
        </a>
      </li>
    </ul>
  </details>
  <ColorScheme />
</nav>
<style>
  nav {
    margin-left: auto;
    display: flex;
  }

  @media (min-width: 540px) {
    details {
      position: relative;
    }
  }

  details > summary {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    height: 100%;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .menuToggle {
    padding: 0.5rem 0;
  }

  details[open] summary {
    display: none;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: var(--bg);
    align-items: flex-end;
    z-index: 3;
  }

  @media (min-width: 540px) {
    ul {
      flex-direction: row;
      left: auto;
      align-items: center;
    }
  }

  @media (max-width: 540px) {
    ul {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      gap: 0.5rem;
      padding: 1rem;
    }
  }

  li {
    display: flex;
    flex: 1;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .active {
    background: var(--color);
    border-radius: 2rem;
    color: var(--bg);
  }

  .contact {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  .contact svg {
    height: 20px;
    width: 20px;
  }
</style>
