---
const { post } = Astro.props;
---

<li>
  <h3>
    <a href={post.url}>{post.frontmatter.title}</a>
  </h3>
  <span>{post.frontmatter.description}</span>
</li>
<style>
  h3 {
    margin: 0;
    font-size: 1.25rem;
  }
</style>
