---
const { post } = Astro.props;
---

<li>
  <h4>
    <a href={post.url}>{post.frontmatter.title}</a>
  </h4>
  <span>{post.frontmatter.description}</span>
</li>
<style>
  h4 {
    margin: 0;
  }
</style>
