---
import { Icon } from "astro-icon";

const links = [
  {
    icon: "mdi:twitter",
    label: "@thilinag on twitter",
    url: "https://twitter.com/thilinag",
  },
  {
    icon: "mdi:linkedin",
    label: "Thilina Gunasekara on LinkedIn",
    url: "https://lk.linkedin.com/in/thilinagunasekara",
  },
  {
    icon: "mdi:github",
    label: "Thilina on GitHub",
    url: "https://github.com/thilinag",
  },
];
---

<ul class="social">
  {
    links.map(({ icon, label, url }) => (
      <li>
        <a aria-label={label} class="link" href={url} target="_blank">
          <Icon name={icon} height="1.5rem" />
        </a>
      </li>
    ))
  }
</ul>
<style>
  .social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .link {
    text-decoration: none;
    display: flex;
    color: var(--color-secondary);
  }

  .link svg {
    min-height: 1.25rem;
  }
</style>
