---
import { Icon } from "astro-icon";
---

<ul class="social">
  <li>
    <a
      aria-label="@thilinag on twitter"
      class="link"
      href="https://twitter.com/thilinag"
      target="_blank"
    >
      <Icon name="mdi:twitter" />
    </a>
  </li>
  <li>
    <a
      aria-label="Thilina Gunasekara on LinkedIn"
      class="link"
      href="https://lk.linkedin.com/in/thilinagunasekara"
      target="_blank"
    >
      <Icon name="mdi:linkedin" />
    </a>
  </li>
</ul>
<style>
  .social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .link {
    text-decoration: none;
    display: flex;
  }

  .link svg {
    min-height: 1.25rem;
  }
</style>
