---
import type { MarkdownHeading } from "astro";

export interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<h3>Table of contents</h3>
<ol>
  {
    headings
      .filter((heading) => heading.depth === 3)
      .map(({ slug, text }) => (
        <li>
          <a href={`#${slug}`}>{text}</a>
        </li>
      ))
  }
</ol>
<style></style>
