---
export interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<ul class="tags">
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/tags/${tag}`}>
          #{tag}
        </a>
      </li>
    ))
  }
</ul>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 1em 0;
    padding: 0;
  }

  @media (min-width: 768px) {
    .tags {
      margin: 2em 0;
    }
  }

  .tag {
    color: var(--color);
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
  }
</style>
