---
import type { CollectionEntry } from "astro:content";

type Tweets = CollectionEntry<"writing">["data"]["tweets"];

export interface Props {
  tweet: Tweets[0];
}

const {
  tweet: { images = [], link, text },
} = Astro.props;
---

<blockquote class="tweet">
  {text && <p>{text}</p>}
  {
    images.length > 0 && (
      <div class="images">
        {images.map((image) => (
          <img
            src={`https://lh3.googleusercontent.com/d/${image.googleDriveId}`}
            alt=""
            loading="lazy"
          />
        ))}
      </div>
    )
  }
  <cite><small><a href={link} target="_blank">via twitter</a></small></cite>
</blockquote>
<style>
  cite {
    display: block;
  }

  cite a {
    color: var(--color-secondary);
  }

  .tweet + .tweet {
    border-top: var(--separator);
  }

  .images {
    display: grid;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .images {
      gap: 2rem;
    }
  }

  img {
    border-radius: 1rem;
  }

  @media (min-width: 768px) {
    img {
      max-height: 80vh;
    }
  }
</style>
