---
import type { CollectionEntry } from "astro:content";

type Tweets = CollectionEntry<"writing">["data"]["tweets"];

export interface Props {
  tweet: Tweets[0];
}

const {
  tweet: { link, text },
} = Astro.props;
---

<blockquote class="tweet">
  {text && <p>{text}</p>}
  <cite><small><a href={link} target="_blank">on twitter</a></small></cite>
</blockquote>
<style>
  cite {
    display: block;
  }

  cite a {
    color: var(--color-secondary);
  }

  .tweet + .tweet {
    border-top: var(--separator);
  }
</style>
