---
import Layout from "./Layout.astro";
import Tags from "../components/Tags.astro";
import Tweets from "../components/Tweets.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} backLabel='All Hiking' backURL='/hiking/'>
  <h1>{frontmatter.title}</h1>
  <Tweets tweets={frontmatter.tweets} />
  <slot />
  <Tags tags={frontmatter.tags} />
</Layout>
